<div class="full p-p-4">
  <h1 class="p-mb-4">Spielerprofil</h1>
  <main class="full p-grid p-dir-row">
    <div>
      <p>Benutzer ID: {{user.id}}</p>
      <p>Benutzername: {{user.username}}</p>
      <p>
        E-Mail Adresse:
        <span>{{user.email}}</span>
        <span *ngIf="user.email === undefined" class="empty-text">Keine E-Mail Adresse vorhanden</span>
      </p>
      <p>
        Benutzer Rollen:
        <span>{{userRolesText}}</span>
        <span *ngIf="userRolesText === null" class="empty-text">Keine Rollen vorhanden</span>
      </p>
    </div>
  </main>
</div>
