<p>cube-table-page works!</p>
<p-table [value]="cubes">
  <ng-template pTemplate="header">
    <tr>
      <th>Id</th>
      <th>Batterie</th>
      <th>Im Spiel</th>
      <th>Kalibriert</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-cube>
    <tr>
      <td>{{cube.cubeId}}</td>
      <td>{{cube.batteryLevel}} %</td>
      <td>
        <i *ngIf="cube.inGame" class="pi pi-lock" style="font-size: 2rem"></i>
        <i *ngIf="!cube.inGame" class="pi pi-lock-open" style="font-size: 2rem"></i>
      </td>
      <td>
        <i *ngIf="cube.inGame" class="pi pi-lock" style="font-size: 2rem"></i>
        <i *ngIf="!cube.inGame" class="pi pi-lock-open" style="font-size: 2rem"></i>
      </td>
      <td>
        <i *ngIf="cube.isCalibrated" class="pi pi-check-circle" style="font-size: 2rem"></i>
        <i *ngIf="!cube.isCalibrated" class="pi pi-times-circle" style="font-size: 2rem"></i>
      </td>

      <td><i class="pi pi-user-edit" (click)="edit(topic)"></i> </td>
    </tr>
  </ng-template>
</p-table>
