<div class="full p-p-4">
  <h1 class="p-mb-4">Statistiken</h1>
  <main class="full p-grid p-dir-col p-px-6">
    <h2>Allgemeine Statistiken</h2>
    <div>
      <p>Gesamtanzahl der Rateversuche: {{stats.totalGuesses || '?'}}</p>
      <p>Gesamtzeit für alle Rateversuche: {{(stats.totalTimeForAllGuesses / 1000) || '?'}} Sekunden</p>
      <p>Anzahl der gespielten Themen: {{numDistinctTopics || '?'}}</p>
    </div>
    <h2>Thema Statistiken</h2>
    <div>
      <h3>Meistgespielte Themen</h3>
      <div class="help-text" *ngIf="(mostPlayedTopicsData == null)">Unzureichende Daten</div>
      <p-chart type="pie" *ngIf="(mostPlayedTopicsData != null)" [data]="mostPlayedTopicsData"></p-chart>
    </div>
    <div>
      <h3>Beste Themen</h3>
      <div class="help-text" *ngIf="(topics == null) || (topics.length < 1)">Unzureichende Daten</div>
      <p-chart type="bar" [data]="bestTopicsData"></p-chart>
    </div>
    <div>
      <h3>Themen</h3>
      <div class="help-text" *ngIf="(topics == null) || (topics.length < 1)">Unzureichende Daten</div>
      <p-table [value]="topics" *ngIf="(topics != null) && (topics.length > 0)">
        <ng-template pTemplate="header">
          <tr>
            <th>Thema-ID</th>
            <th>Thema</th>
            <th>Maximale Anzahl der Punkte</th>
            <th>Erreichte Punkte</th>
            <th>Gesamtanzahl der Rateversuche</th>
            <th>Gesamtzeit für alle Rateversuche [s]</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-topic>
          <tr>
            <td>{{topic.topicId}}</td>
            <td>{{topic.topic}}</td>
            <td>{{topic.maxPoints}}</td>
            <td>{{topic.reachedPoints}}</td>
            <td>{{topic.totalGuesses}}</td>
            <td>{{topic.timeForAllGuesses / 1000}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <h2>Team Statistiken</h2>
    <div>
      <h3>MitspielerInnen des letzten Teams</h3>
      <div class="help-text" *ngIf="(userTimesPlayed == null) || (userTimesPlayed.length < 1)">Unzureichende Daten</div>
      <p-table [value]="userTimesPlayed" *ngIf="(userTimesPlayed != null) && (userTimesPlayed.length > 0)">
        <ng-template pTemplate="header">
          <tr>
            <th>Name der Spielerin / des Spielers</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-playerName>
          <tr>
            <td>{{playerName}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </main>
</div>
