<p-table [value]="users">
  <ng-template pTemplate="header">
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Enabled</th>
      <th>Roles</th>
      <th>Id</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr>
      <td>{{user.username}}</td>
      <td>{{user.email}}</td>
      <td><i *ngIf="!user.enabled" class="pi pi-times-circle"></i><i *ngIf="user.enabled" class="pi pi-check-circle"></i> </td>
      <td>{{user.roles}}</td>
      <td>{{user.id}}</td>
      <td><i class="pi pi-user-edit" (click)="edit(user)"></i> </td>
      <td><i class="pi pi-trash" (click)="delete(user)"></i> </td>

    </tr>
  </ng-template>
</p-table>
<p>{{error}}</p>
<p-toast position="bottom-center"></p-toast>


<p-dialog *ngIf="this.editUser" header="Header" [(visible)]="displayModal" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
          [draggable]="false" [resizable]="false" [maximizable]="true">
  <p>Currently there is nothing to edit</p>
  {{this.editUser.username}}
  {{this.editUser.email}}
  {{this.editUser.roles}}
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="displayModal=false" label="Save" class="p-button-text"></p-button>
    <p-button icon="pi pi-times" (click)="displayModal=false" label="Don't Save"></p-button>
  </ng-template>
</p-dialog>
{{error}}
