<div class="full p-p-4">
  <h1 class="p-mb-4">Dashboard</h1>
  <main class="full p-grid p-dir-row">
    <div class="p-lg-1"></div>
    <button (click)="notYetImplemented()" class="main-button p-col-12 p-lg-3 p-py-4" pButton pRipple label="Spielelobby"></button>
    <div class="p-col"></div>
    <button (click)="notYetImplemented()" class="main-button p-col-12 p-lg-3 p-py-4" pButton pRipple label="Spiel erstellen"></button>
    <div class="p-col"></div>
    <button (click)="notYetImplemented()" class="main-button p-col-12 p-lg-3 p-py-4" pButton pRipple label="Spielerprofil"></button>
    <div class="p-lg-1"></div>
    <div class="p-field p-grid">
      <label for="firstname" class="p-col-12 pl-0 p-mb-2 p-md-2 p-mb-md-0">Username:</label>
      <div class="p-col-12 p-md-10">
        <input id="firstname" type="text" name="username" [(ngModel)]="username" pInputText>
      </div>
    </div>
    <div class="p-field p-grid">
      <label for="firstname" class="p-col-12 pl-0 p-mb-2 p-md-2 p-mb-md-0">Username:</label>
      <div class="p-col-12 p-md-10">
        <input id="room-id" type="text" name="room-id" [(ngModel)]="roomID" pInputText>
      </div>
    </div>
    <button pButton pRipple type="submit" label="Websocket" (click)="enterRoom()"></button>
    <button (click)="sendToSocket()" class="main-button">
      WebSocket Test
    </button>
  </main>
</div>
