<div class="full p-p-4">
  <h1>Dashboard</h1>
  <main class="full p-grid p-dir-row">
    <div class="p-lg-1"></div>
    <button (click)="notYetImplemented()" class="main-button p-col-12 p-lg-3" pButton label="Spielelobby"></button>
    <div class="p-col"></div>
    <button (click)="notYetImplemented()" class="main-button p-col-12 p-lg-3" pButton label="Spiel erstellen"></button>
    <div class="p-col"></div>
    <button (click)="notYetImplemented()" class="main-button p-col-12 p-lg-3" pButton label="Spielerprofil"></button>
    <div class="p-lg-1"></div>
  </main>
</div>
