<div>
  <div class="base-timer">
    <svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
      <g class="base-timer__circle">
        <circle class="base-timer__path-elapsed" cx="50" cy="50" r="45"></circle>
        <path
          id="base-timer-path-remaining"
          [style.strokeDasharray] = circleDasharray
          class="base-timer__path-remaining {{remainingPathColor}}"
          d="
          M 50, 50
          m -45, 0
          a 45,45 0 1,0 90,0
          a 45,45 0 1,0 -90,0
        "
        ></path>
      </g>
    </svg>
    <span id="base-timer-label" #basetimerlabel class="base-timer__label">{{gameTime}}</span>
  </div>


</div>

<div *ngIf="!game && !gameSection">
  <h1>Game not initialized</h1>
</div>

<div *ngIf="game && !gameSection">
  <h1>Rolle den Würfel um die erste Aktivität zu starten !</h1>
</div>

<div *ngIf="game && gameSection">
<h1>{{game.gameName}}</h1>
  <div>
    <div *ngFor="let team of game.gameTeams">
      <p-card *ngIf="myTeamId === team.teamId">
        <h5>Mein Team</h5>
        <h5>{{team.teamName}}</h5>
        <h6>Punkte: {{team.score}}</h6>
        <p *ngFor="let player of team.players">{{player.username}}</p>
      </p-card>

      <p-card *ngIf="myTeamId !== team.teamId">
        <h5>{{team.teamName}}</h5>
        <h6>Punkte: {{team.score}}</h6>
        <p *ngFor="let player of team.players">{{player.username}}</p>
      </p-card>

    </div>
  </div>
  <p-divider></p-divider>

  <div *ngIf="gameSection.activeSection">
    <div>
      <h2>Aktives Team: {{gameSection.activeTeam.teamName}}</h2>
      <h2>Aktiver Spieler: {{gameSection.activePlayer.username}}</h2>
    </div>
    <h3>Verbleibende Zeit: {{gameTime}}</h3>



    <div *ngIf="isActivePlayer">
      <h1>Beschreibe das Wort: {{gameSection.word.word}}</h1>
      <p-divider></p-divider>
      <h2>Kategorie: {{gameSection.category}}</h2>
    </div>

    <div *ngIf="!isActiveTeam">

      <h1>Wort: {{gameSection.word.word}}</h1>
      <h2>Kategorie: {{gameSection.category}}</h2>

      <p-button label="Wort erraten" (click)="wortErraten()"></p-button>

      <p-button label="Regelverstoß" (click)="strike()"></p-button>
    </div>

  </div>

  <p-card *ngIf="!gameSection.activeSection">

    <h1>Aktive Runde vorbei</h1>
    <h2>Rolle den Würfel um die nächste Runde zu starten</h2>
    <h3>Team: {{gameSection.activeTeam.teamName}}</h3>
    <h3>Spieler: {{gameSection.activePlayer.username}}</h3>
    <h3>Zeit: {{gameSection.reachedTime / 1000}} s</h3>
    <h3>Erreichte Punkte: {{gameSection.reachedPoints}}</h3>
    <h1>Wort: {{gameSection.word.word}}</h1>
    <h2>Kategorie: {{gameSection.category}}</h2>

  </p-card>


  <div *ngIf="gameSection.finished">
    <h2>Gratuliere Team {{gameSection.activeTeam.teamName}} hat gewonnen!</h2>
  </div>






</div>
