
label {
  font-weight: 500;
  margin-bottom: 5px;
  margin-top: 10px;
}

.help-text {
  font-style: italic;
}

input, .input {
  width: 100%;
}

.err-text {
  color: red;
}

.err-text p {
  margin: 2px 0;
}

.err-text p:first-child {
  font-weight: 500;
}
