<div class="full p-p-4">
  <h1 class="p-mb-4">Spiel erstellen</h1>
  <main class="full p-grid p-dir-row">
    <form>
      <div>
        <label for="input-game-name">
          Spielname:
        </label>
        <input type="text" placeholder="Spielname" id="input-game-name" name="game-name" [(ngModel)]="gameName" pInputText />
      </div>
      <div>
        <label for="input-max-points">
          Punktemaximum:
        </label>
        <input type="number" min="0" [defaultValue]="100" placeholder="Punktemaximum" id="input-max-points" name="max-points" />
      </div>
      <div>
        <label for="input-number-teams">
          Anzahl Teams:
        </label>
        <input type="number" min="2" max="6" [defaultValue]="2" placeholder="Anzahl Teams" id="input-number-teams" name="number-teams" />
        <span>(2-6 Teams zu je 2-4 SpielerInnen)</span>
      </div>
      <div>
        <label for="input-number-teams">
          Themengebiete:
        </label>
      </div>
      <div>
        <button (click)="onCreateBtn($event)" pButton pRipple label="Spiel Erstellen" class="p-col-12 p-py-4">Erstellen</button>
        <button (click)="onCancelBtn($event)" pButton pRipple label="Abbrechen" class="p-col-12 p-py-4">Abbrechen</button>
      </div>
    </form>
  </main>
</div>
