<div class="full p-p-4">
  <h1 class="p-mb-4">Spiel erstellen</h1>
  <main class="full">
    <form class="full p-grid p-dir-row">
      <div>
        <label for="input-game-name">
          Spielname:
        </label>
        <input type="text" placeholder="Spielname" id="input-game-name" name="game-name" [(ngModel)]="gameName" pInputText />
      </div>
      <div>
        <label for="input-max-points">
          Punktemaximum:
        </label>
        <input type="number" min="0" [defaultValue]="100" [(ngModel)]="maxPoints" placeholder="Punktemaximum" id="input-max-points" name="max-points" />
      </div>
      <div>
        <label for="input-number-teams">
          Anzahl Teams:
        </label>
        <input type="number"
               min="{{MIN_NUM_TEAMS}}" max="{{MAX_NUM_TEAMS}}" [defaultValue]="MIN_NUM_TEAMS" [(ngModel)]="numTeams"
               placeholder="Anzahl Teams" id="input-number-teams" name="number-teams" />
        <span>({{MIN_NUM_TEAMS}}-{{MAX_NUM_TEAMS}} Teams zu je 2-4 SpielerInnen)</span>
      </div>
      <div>
        <label for="input-number-teams">
          Themengebiete:
        </label>
      </div>
      <div class="p-col-12 p-grid p-dir-row">
        <div class="p-col"></div>
        <button (click)="onCreateBtn($event)" pButton pRipple label="Spiel Erstellen" class="p-col-12 p-lg-5 p-py-4"></button>
        <div class="p-col"></div>
        <button (click)="onCancelBtn($event)" pButton pRipple label="Abbrechen" class="p-col-12 p-lg-5 p-py-4"></button>
        <div class="p-col"></div>
      </div>
    </form>
  </main>
</div>
