/* You can add global styles to this file, and also import other style files */

html, body {
  min-height: 100vh;
  height: auto;
  margin: 0;
}

.bottomText{
  margin-top: 2vh;
}

.unmarked{
  color: #999;
  cursor: default;
}

.marked{
  margin-left: 0.3vw;
  color: #444;
  cursor: pointer;
}

.marked:hover {
  color: green;

}
